body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* background-color: orange; */
    display: flex;
    /* align-items: center; */
}
.cont{
    /* background-color: brown; */
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    height: 8%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: rgb(41, 39, 39);s */
    border-bottom: 1px solid gray;
    /* border-bottom: 1px solid gray; */
}
.creat-post{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    /* display: flex; */
    /* display: ; */
    /* background-color: black; */
}
.post_div{
    width: 100%;    
    height: 40%;
 /* background-color: rgb(41, 39, 39); */
    border-bottom: 0.5px solid gray;

    display: flex;
    justify-content: center;
}
.post_child{
    width: 45%;
    height: 99%;
    border: 2px solid gray;
 
}
#inp{
    position: relative;
    top: 1%;
    /* left: 2%; */
    /* background-color: aquamarine; */
    /* border-radius: 5px; */
    width: 99%;
    height: 80%;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    border-top: none;

    /* display: flex; */
    /* margin: 10px; */
}

#blog_post{
    width: 100%;
    height: 100%;
    /* background-color: black; */
  display: flex;
}
#blog_post-child{
    width: 100%;
    height:100%;
    /* background-color: rgb(41, 39, 39); */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
}
#card{
    
    margin: 10px;
    border-radius: 4px;
    /* margin: 8px; */
    /* margin-left: 45px; */
    width: 20%;
    height: 60%;
    background-color: #fff;
    border: 1px solid gray;
}
#img_div{
    height: 45%;
    width:100%;
    background-color: blueviolet;

    display: flex;
}
#img_div img{
    width: 100%;
    background-repeat: no-repeat;
}
#description{
    height: 42%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    border-bottom: 1px solid gray;
}
h1{
    text-align: center;
}
.header h1{
/* align-items: center; */
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
/* width: 40%;/s */
}
#file_parent_div{
    width: 100%;
    height: 16%;
    border-radius: 7px;
    /* background-color: aqua; */

    display: flex;
    align-items: center;
}
/* input [type=""] */
#post_btn{
    height: 95%;
    width: 20%;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid black;
    outline: none;

}
/* #post_file{
    height: 105px;
    /* background-color: aqua; 
    display: flex;
    /* width:; 
} */
/* #post_file[type="file"]{
    height: 100%;
} */



